
$color-primary: red;
$color-secundary: blue;
$color-tertiary: green;


div {
    border: 1px solid $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    
      h1 {
        color: $color-tertiary; 
        text-decoration: underline;
        text-decoration-color: purple;       
      }
      section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px;

        article{
            width: 20%;
            border-top: 1px solid $color-tertiary ;
            border-bottom: 1px solid $color-tertiary;
            border-right: 1px solid $color-tertiary;
            padding: 15px;
        }
        article:nth-child(odd){
            color:$color-primary;
        }
        article:nth-child(even){
            color:$color-secundary;
        }
        .primo{
            border-left: 1px solid $color-tertiary ;
        }

      }
}
