div {
    border: rem(1) solid $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h2,  h1 {
    color: $color-tertiary;
    text-decoration: underline;
    text-decoration-color: purple;
    }
    h2 {
    padding: 1rem;
    border: 1px solid $color-primary;
    }
    #articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: rem(15);
    
       article:nth-child(odd) {
       font-size: 1rem;
       border: rem(1) solid $color-tertiary;
       color: $color-primary;
       padding: rem(15);
       width: 20%;
       }
       article:nth-child(even) {
       font-size: 1rem;
       border: rem(1) solid $color-tertiary;
       color: $color-secondary;
       padding: rem(15);
       width: 20%;
       }
    }
    .footer-article {
    font-size: 1.5rem;
    border: rem(1) solid $color-secondary;
    color: $color-tertiary;
    padding: rem(15);
    width: calc(80vw + 5rem);
    text-align: center;
    margin-bottom: rem(15);
    }
}

  