@use "variables.scss";
@use "function.scss";


@mixin article-card($color, $border-color, $size-font ){
    font-size: $size-font;
    border: function.rem(1) solid $border-color;
    color: $color;
    padding: function.rem(15);
}


div {
    border: function.rem(1) solid variables.$color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
      h1 {
        color: variables.$color-tertiary; 
        text-decoration: underline;
        text-decoration-color: purple;       
      }
      #articles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: function.rem(15);

        article:nth-child(odd){
            @include article-card(variables.$color-primary, variables.$color-tertiary, variables.$articles-font-size);
            width: 20%;
        }

        article:nth-child(even){
            @include article-card(variables.$color-secondary, variables.$color-tertiary, variables.$articles-font-size);
            width: 20%;
        }
        }
        .footer-article{
            @include article-card(variables.$color-tertiary, variables.$color-secondary, variables.$footer-font-size);
            width: calc(80vw + function.rem(80));
            text-align: center;
            margin-bottom: function.rem(15);
        }

}


